.heading {
  font-size: 36px;
  font-weight: 700;
  line-height: 44px;
}

.resultWrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  text-align: center;
}

.resultImage {
  width: 196px;
  height: 208px;
  margin-top: -12px;
  background-image: url('../../assets/images/result.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.correctAnswers,
.wrongAnswers {
  font-weight: 700;
}

.correctAnswers {
  color: var(--color-green);
}

.wrongAnswers {
  color: var(--color-red);
}
