@import url('./normalize.css');

:root {
  --color-white: #f1f1ef;
  --color-dark: #125365;
  --bg-color-button: #ff9c46;
  --bg-color-button-disabled: #edd0b6;
  --color-green: #2a8f55;
  --color-red: #df4c25;
}

@font-face {
  font-family: 'Inter';
  src: url('public/fonts/Inter-Regular.woff2') format('woff2');
  font-weight: 400;
}

@font-face {
  font-family: 'Inter';
  src: url('public/fonts/Inter-Medium.woff2') format('woff2');
  font-weight: 500;
}

@font-face {
  font-family: 'Inter';
  src: url('public/fonts/Inter-Bold.woff2') format('woff2');
  font-weight: 700;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-width: 1280px;
  background: linear-gradient(
    45deg,
    #125365 41%,
    #ff713f 41%,
    #ff713f 55%,
    #ff9d46 55%,
    #ff9d46 85.4%,
    #ffca4a 75%
  );
  background-attachment: fixed;
  font-family: Inter;
  font-weight: 500;
  font-size: 28px;
  color: var(--color-dark);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-y: scroll;
  min-height: 100dvh;
}

button {
  cursor: pointer;
}
